<nav class="navbar fixed-top navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button"><%= link_to 'add a cocktail', new_cocktail_path %></button>
    <button class="btn btn-outline-success" type="button"><%= link_to 'edit cocktail name', edit_cocktail_path(@cocktail)%></button>
    <button class="btn btn-outline-success" type="button"><%= link_to 'edit cocktail recipe', new_cocktail_dose_path(@cocktail)%></button>
    <button class="btn btn-outline-success" type="button"><%= link_to 'back to list', cocktails_path%></button>
  </form>
</nav>


<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <ul>
      <div>
        <h2><%= @cocktail.name %></h2>
        <% @cocktail.doses.each do |dose| %>
        <li>
          <div class = "recipe">
            <%= dose.ingredient.name %>
            <%= dose.description %>
          </div>
        <%= link_to 'destroy', dose, method: :delete  %>
        <% end %>
        </li>
      </div>
    </ul>
  </div>
</div>
